<h1>Hello user</h1>
<% if @current_user.is_a?(Teacher) %>
  <p>Add a <%= link_to "new classroom!", new_classroom_path  %></p>
<% end %>

<% @classrooms.each do |classroom| %>
  <div>
    <h2>
      <%= classroom.classroom_name %></h2>
      <% if @current_user.is_a?(Teacher) %>
        <small><%= link_to "show", classroom_path(classroom) %></small>
      <% else %>
        <small><%= link_to "join this class?", classroom_path(classroom) %></small>
      <% end %>
    </h2>
    <p><%= classroom.passcode %></p>
    <hr>
  </div>
<% end %>