<div class="custom-standard-view">  
  <h1>New Classroom</h1>
  <p><%= link_to "Go back to classroom list", classrooms_path %></p>

  <%= form_for @classroom do |f| %>
    <div>
      <%= f.label :classroom_name %><br>
      <%= f.text_field :classroom_name %>
    </div>
    <div>
      <%= f.submit "Submit" %> 
    </div>
  <% end %>
</div>