<h1>welcome to the classroom show user!</h1>
<p><%= link_to "Go back to classroom list", classrooms_path %></p>
<% if @current_user.is_a?(Teacher) %>
  <p><%= link_to "Create a message!", new_classroom_message_path(@classroom, @message) %></p>
<% end %>

<% if @classroom.messages.length > 0 %>
  <% @classroom.messages.each do |message| %>
    <h3><%= message.title %></h3>
    <p><%= message.text %></p>
    <% if message.comments.length > 0 %>
      <% message.comments.each do |comment| %>
        <p>--<%= User.find(comment.user_id).username %></p>
        <small>
          <%= comment.text %>
        </small>
      <% end %>
    <% end %>

    <p><%= link_to "make a comment", new_classroom_message_comment_path(@classroom.id, message.id, @comment) %></p>
  <% end %>
<% end %>